@import "../../styles/variables.module.sass"

.button 
    appearance: none
    background-color: var(--ryf-button-bgColor, #F7C873)
    color: var(--ryf-button-color, #171717)
    margin: 0
    padding: 0
    box-sizing: border-box
    border: none
    outline: none
    font-family: $secondary-font
    font-weight: bold
    font-size: 1.2rem
    letter-spacing: 0.1rem
    border-radius: var(--ryf-button-borderRadius, 60px)
    width: 20.6rem
    height: 4.8rem
    transition: .2s background-color
    cursor: pointer

    &.button__ghost
        background-color: transparent
        border: 0.2rem solid var(--ryf-button-borderColor, #F7C873)

    &.button__small
        font-size: 1rem
        width: 8.6rem
        height: 2.05rem
        
    &:hover, &:focus
        background-color: var(--ryf-button-bgHoverColor, #cca65f)
        border-color: var(--ryf-button-bgHoverColor, #cca65f)


.button__content
    display: flex
    justify-content: center
    align-items: center

