@import "../../styles/variables.module.sass"

.card
    background-color: var(--ryf-card-bgColor, $secondary-color)
    width: 20.75rem
    height: 27.25rem
    border-radius: 40px 40px 40px 40px

.card__head
    width: 100%
    height: 76.1%

.card__body
    width: 100%
    height: 23.9%
    color: var(--ryf-card-title-color, $quinary-color)

.card__title
    font-size: 1.2rem
    font-family: $primary-font
    font-weight: 400

.card__category
    font-family: $secondary-font
    letter-spacing: 10%
    font-weight: 400
